{% extends 'overall/layout' %}
{% block appHeader %}
    <style>
        body {
            background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)), url("./views/app/images/bghom.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block appBody %}

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand text-center">Bienvenido</h3>
                <h1 class="cover-heading text-center animated zoomIn">{{ user['name'] }}</h1>

            </div>
        </header>

        <main role="main" class="inner cover">
            <h5 class="lead text-center animated fadeInUp ">En GetJob buscamos ser la conexion que necesitas.</h5>
            <p class="lead text-center">
                <a href="/getjob/eventos/" class="btn btn-lg btn-primary">Buscar Trabajadores!</a>
            </p>
        </main>

    </div>

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div id="frameContainer"></div>
{% endblock %}