{% extends 'overall/layout' %}
{% block appBody %}
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="#">GetJob</a>
  <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Menu Principal</a></li>
            <li><a href="#eventos">Eventos</a></li>
            <li><a href="#contact">Empresa</a></li>
          
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#perfil">Perfil</a></li>
            <li class="active"><a href="logout">Cerrar Sesion <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand text-center">Bienvenido</h3>
         
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading text-center animated zoomIn">{{ usuario['name'] }}</h1>
        <h5 class="lead text-center animated fadeInUp ">En GetJob buscamos ser la conexion con el empleo que te parezca mas atractivo y de la manera mas rapida posible.</h5>
        <p class="lead text-center">
          <a href="#" class="btn btn-lg btn-primary">Comenzar!</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<div id="frameContainer"></div>
  {% block appScript %}
    <script src="views/app/js/main.js"></script>
  {% endblock %}

{% endblock %}
