<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GetJob</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li class="active"> <a href="#">Menu Principal</a> </li> -->
                <li class="nav-item dropdown">
                    {% if user.rol == 0 %}
                        <a class="nav-link dropdown-toggle" href="eventos/" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Empleos
                        </a>
                        <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item " href="eventos/crear">Crear Empleo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="eventos/visualizar">Ver Empleo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="eventos/misEventos">Mis Empleo</a>
                        </div>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="empresa/" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Empresa
                        </a>
                        <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item " href="empresa/crear">Crear Empresa</a>
                            <br>
                            <a class="dropdown-item" href="empresa/visualizar">Ver Empresas</a>
                        </div>
                    {% endif %}

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a onclick="verperfil({{user.id_user}});">Perfil</a>
                </li>
                <li>
                    <a href="logout">Cerrar Sesion
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>